.Container {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  height: auto;
  width: 1600px;
  max-width: 90vw;
  padding: 20px;
}

.ProductHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.HomePageTitle {
  font-size: 1.625rem;
  font: bold;
  cursor: pointer;
}

.ContentContainer {
  width: 100%;
  height: 82vh;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 50px 10px 50px 10px;
}

.ImgContainer {
  flex: 2;
  max-width: 40%;
  border: 1px solid black;
  object-fit: contain;
  margin-right: 20px;
}

.ProductDetailContainer {
  flex: 3;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.ProductDetailContainer > * {
  margin-top: 10px;
}

.description {
  height: 60%;
  border: 1px solid gainsboro;
  padding: 10px;
  overflow: scroll;
}

.ProductButtons {
  display: flex;
}

@media all and (max-width: 700px) {
  .ContentContainer {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }

  .ImgContainer {
    min-height: 300px;
    max-height: 300px;
    max-width: 100%;
    width: 100%;
    border: 1px solid black;
    object-fit: contain;
    margin-right: 20px;
  }

  .description {
    min-height: 150px;
    max-height: 150px;
    flex: 1;
    border: 1px solid gainsboro;
    padding: 10px;
  }
  .ProductButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ProductDetailContainer {
    width: 100%;
    max-width: 100%;
  }
}
